body{
	font-family:sans-serif;
	font-size:normal;
	background:url("office1.jpg") center no-repeat;
	margin-top: 250px;
	text-align:center;
}

#footer{
    font-size: 50%;
    line-height: medium;
    margin-top: 300px;
}

